.techArticles {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 1rem;
}

.techArticles li {
	flex: 1;
}

.techArticles img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}

@media (max-width: 768px) {
	.techArticles {
		flex-direction: column;
	}
	.techArticles img {
		padding: 0 2rem;
	}
}
