# GitHub Pages にデプロイするためのワークフロー
---
name: GitHub Pages
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["ci"]
    branches: ["main"]
    types:
      - completed
  schedule:
    - cron: "0 0 * * *"

permissions: {}

defaults:
  run:
    shell: bash

# ワークフローが複数起動したら自動キャンセル
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write

    # NOTE: `workflow_run` イベントで起動した場合、前のワークフローが成功したときのみ実行
    if: ${{ contains(fromJSON('["", "success"]'), github.event.workflow_run.conclusion) }}

    steps:
      - uses: actions/checkout@v5

      - name: Get Node.js version
        id: get_node_version
        run: |
          echo "node_version=$(yq '.tools.node' mise.toml)" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.get_node_version.outputs.node_version }}
          cache: "npm"

      - uses: actions/cache@v5
        id: cache
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-node-${{ steps.get_node_version.outputs.node_version }}-docusaurus-${{ hashFiles( 'blog/**', 'src/**', 'static/**', 'docusaurus.config.ts', 'package-lock.json', 'sidebars.ts', 'tsconfig.json') }}
          path: |
            .docusaurus
            build
            node_modules

      - if: ${{ steps.cache.outputs.cache-hit != 'true'}}
        run: npm ci
      - run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
